
body {
    font-family: 'Lato', sans-serif;;
}

/** Globales**/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/** Navegacion **/
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.navegacion a:hover {
    color: #71B100;
}
.navegacion a:last-of-type {
    margin: 0;
}